/* CSS styles */
body {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

/* .navbar {
  background: #012846;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {

  height: 50px;
  width: 70vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;

  padding: 0 10px;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: #216b8c;;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;

}

nav a:hover {
  color: #9bdcff;
}

nav a:hover:after {
  width: 100%;
} */

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content:hover {
  display: block;
}

.navbar {
  background: #081520;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  height: 50px;
  width: 70vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

nav .hover {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

nav .hover:after {
  content: "";
  position: absolute;
  background-color: #216b8c;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.7s;
  /* Adjusted transition duration */
}

nav .hover:hover {
  color: #9bdcff;
}

nav .hover:hover:after {
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: none;
  background-color: #081520;
  min-width: 160px;
  z-index: 1;
  margin-top: 10px;
  transition: opacity 1s ease-in-out;
  /* Adjusted transition duration */
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #1868a7;
  transition-duration: 0.1s;
}

h1 {
  color: white;
}

.frame {
  color: white;
}

#pageNumber {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 23px;
  BACKGROUND: TRANSPARENT;
  border: 1px solid white;
  COLOR: WHITE;
  text-align: center;
  border-radius: 4PX;
}

::placeholder {
  color: #F5F5F5;
  opacity: 1;
  /* Firefox */
}

#frameSize {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 19px;
  width: 90px;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
  border-radius: 4PX;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

button {
  padding: 4px 6px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.second {
  font-size: 20px;
  margin-top: 20px;
}

.block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.block-inner {
  display: inline-block;
  color: white;
}

.page-entry {
  margin-top: 5px;
  margin-bottom: 10px;
}

.queue-status {
  margin-top: 10px;
}

.queue-block {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(0.5);

}

@media (min-aspect-ratio : 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio : 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}