* {
  margin: 0;
  padding: 0;

}

/* .navbar {
    background: #081520;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
  
    height: 50px;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
   
    padding: 0 10px;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: #216b8c;;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

nav a:hover {
    color: #9bdcff;
}

nav a:hover:after {
    width: 100%;
} */

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content:hover {
  display: block;
}

.navbar {
  background: #081520;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  height: 50px;
  width: 70vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

nav .hover {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

nav .hover:after {
  content: "";
  position: absolute;
  background-color: #216b8c;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.7s;
  /* Adjusted transition duration */
}

nav .hover:hover {
  color: #9bdcff;
}

nav .hover:hover:after {
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: none;
  background-color: #081520;
  min-width: 160px;
  z-index: 1;
  margin-top: 10px;
  transition: opacity 1s ease-in-out;
  /* Adjusted transition duration */
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #1868a7;
  transition-duration: 0.1s;
}

.homepage {
  height: 94vh;
  background-image: url(photos/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PARA {
  text-shadow: #47D2FE 1px 0 10px;
  text-align: center;
  font-size: 93px;
  position: relative;
  z-index: 1;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;
}

.PARA:hover {

  -webkit-text-stroke: 2px #fff;
  color: transparent;
  cursor: pointer;
}


.btn {
  border-radius: 10px;
  background: none;
  color: #fff;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 0;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn:hover {
  color: #fff;
  overflow: hidden;
  border-radius: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  z-index: -1;
  /* background-image: linear-gradient(to right, rgb(7, 15, 43) 0%, rgb(27, 26, 85) 45% , rgb(83, 92, 145) 100%); */
  background: linear-gradient(94.82deg,
      #00192c 14.6%,
      #003a67 55.34%,
      #1868a7 79.26%,
      #2774b2);
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  overflow: hidden;
}

.btn1::before {
  transform: scaleY(0);
  overflow: hidden;

}

.btn1:hover::before {
  transform: scaleY(1);
  overflow: hidden;
}


/* .btn::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1; 
    transition: transform 0.5s; 
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    overflow: hidden;
    transform: scaleY(0);
}

.btn1::before {
    transform: scaleY(0);
    overflow: hidden;
}

.btn1:hover::before {
    transform: scaleY(1);
    overflow: hidden;
} */