.card{
    background: cadetblue;
}

.frame-icon{
    
    height: 80px;
    border-radius: 50%;
    width: 80px;
}

h1 {
   margin-top: 0;
   margin-left: 23px;
   margin-bottom: 10px; 
}

h2{
    margin-top: 10px;
    margin-left: 23px;
}

.TOP{
    display: flex;
}